* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1.1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*Navbar styling */

nav {
    grid-column: 1 / 2;
    grid-row: span 5;
    padding-top: 10px;
    color: white;
    background-color: #204994;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

a {
    color: white;
    text-decoration: none;
    transition: .5s ease;
}

a:hover {
    color: rgb(200, 208, 233);
}


.navlogo {
    font-size: 2rem;
    margin-right: 10px;
    padding-left: 5px;
}

.nav-grid-head {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: center;
}

.nav-grid-title {
    font-size: 1.3rem;
    align-items: center;
    margin-right: 20px;
}


.nav-grid-top {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: end;
    margin-top: 5px;
    margin-left: 20px;
}

.nav-grid-bottom {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: end;
    margin-top: 55px;
    margin-left: 20px;
}

.nav-grid-box {
    margin-top: 20px;
}

/* Header styling */


