.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: aliceblue;
    text-align: center;
}

.sidebar {
    display: grid;
    background-color: blue;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.nav {
    background-color: aqua;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.topnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.botnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main {
    background-color: blueviolet;
}